body {
  margin: 0%;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}

#cardPile,
#cardSlots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  height: 50%;
  width: 100%;
  min-height: 10px;
}

#cardPile div,
#cardSlots div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 25%;
  border: 1px solid #aaaaaa;
}

img {
  height: 100%;
  width: 100%;
}